body {
  background-color: red;
}
.main-container {
  padding: 30px 220px;
}
.ct-menu {
  padding: 30px 30px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.escalator-container {
  padding: 10px 0px;
}
.white-font {
  color:white;
}
.logo-icon {
  color:white;
  font-size:40px;
  margin-right:10px;
}
.ct-menu a {
  text-decoration: none;
  color: black;
}
.timeline-summary  {
  font-size: 14px;
}
.modal-content div{
  margin-top: 10px;
}
.page-container {
  padding: 20px;
}

.summary-button-container {
  display: flex;
  justify-content: flex-end;
}

.template-selector {
  width: 100%;
}
.template-selector-container {
  background-color: red;
  height: 50px;
}
.timeline-dot {
  min-width: 30px;
  height: 30px;
}
.page-header{
  display: flex;
  justify-content: space-between;
}
select {
  padding: 4px;
  color: grey;
  min-width: 300px;
}
.target-container {
  margin-bottom: 15px;
  font-size: 12px;
}
.ct-menu-header {
  font-size: 18px;
}
.ct-menu-item {
  padding: 50px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 10em;
  cursor: pointer;
  background-color: #22577A;
  color: white;
}

.selector-container {
  display: grid;
  padding: 0px 8px;
}
.additional-data div {
 margin-right: 10px;
}
.additional-data {
  display:flex;
  font-size: 12px;
}
.escalation-container {
  overflow-y: scroll;
}


.timeline-container-creator{
  height: 200px;
}

.body-accordion {
  display: grid;
  grid-template-columns: 50% 50%;
  
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
.button-container  button {
  margin-left: 10px;
}
.comment-container {
  max-height: 300px;
  overflow-y: scroll;
}
.comment-single-container {
  padding: 6px;
  background-color: lightgray;
  border-radius: 7px;
  margin-bottom: 10px;
}
.page-header{
  background-color: white;
  margin-bottom: 10px;
}

.search-bar {
  padding: 20px 10px;
  width: 100%;

}
.search-input {
  width: 90%;
}
.timeline-container {
  height: 100px;
}
.ct-menu-item:hover {
  background-color: #38a3A5;
  color: white;
  padding: 50px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 10em;
}
.accord-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 10px;
}


.ct-menu-item div, .ct-menu-item svg  {
  align-self: center;
  justify-self: center;
}
.ct-menu-item svg {
  font-size: 80px;
}
.ct-menu-item div {
  margin-top: 20px;
}